{% extends 'base.html' %}

{% block title %}
Группировка Виски
{% endblock %}

{% block sections %}
<a class="p-2 text-dark" href="/">Главная</a>
<a class="p-2 text-dark" href="/naming_whiskey">Наименование Виски</a>
<a class="p-2 text-dark" href="/finished_whiskey">Готовые Виски</a>
{% endblock %}

{% block body %}
{% if main_drink %}
<div class="container">
<h1>Группировака Виски</h1><br><br>
    <div class="main_drink">
        <div class="col-md-4" style="margin-left: 386px">
          <div class="card mb-4 shadow-sm">
            {% if 'image' in main_drink.keys()%}
              <p><img src="{{main_drink['image'][0]}}" style="margin-top: 10px"></p>
            {% endif %}
              <div class="card-body">
              <p class="card-text">{{main_drink['name'][0]}}</p>
              <p class="card-text">Объем - {{main_drink['features']['Объём']}}</p>
              <p class="card-text">Тип - {{main_drink['features']['Тип']}}</p>
              <p class="card-text">Страна - {{main_drink['features']['Страна']}}</p>
              <p class="card-text">Цена - {{main_drink['price'][0]}}</p><br>
              <p class="card-text">{{main_drink['spider'][0]}}</p><br>
                  <div class="d-flex justify-content-between align-items-center">
                      <a href="{{main_drink['link'][0]}}" target="_blank" class="btn" style="margin-left:100px; color:green">Перейти</a>

              </div>
            </div>
          </div>
        </div>

    </div>

<div class="conta" style="display: flex; flex-direction: row; margin-left: auto;">

    <form  method="Post">
    <input type="submit" name="saving" class="btn btn-success" value="Сохранить">
    </form>


    <form  method="Post">
    <input type="hidden" name="skip" value="{{main_drink['link'][0]}}">
        <input type="submit" style="margin-left: 20px" class="btn btn-warning" value="Пропустить">
    </form>

</div>
    {% for msg in get_flashed_messages() %}
    <h1 style="width:auto; font-size: 1.5rem; margin-top:30px; color: red"> {{msg}} </h1>
    {% endfor %}
    <form method="Post">
    <input type="text" name="search"  class="form-control" placeholder="Введите ключевое слово" style="margin-top:50px"><br>
    </form>

    </div>
{% else %}
<h1 style="color: green">Сделал дело - гуляй смело!</h1>
{% endif %}

{% endblock %}

{% block products %}

{% if groups %}
{% for group in groups %}
        <div  align="center" style="margin-top: 50px">
            <button type="button" class="btn btn-danger" onclick="this.parentNode.style.display='none'" style="width:300px;">Убрать</button>
            <form target="myIFR" enctype="application/json" method="POST">
        <input type="hidden" name="add_to_group" value="{{group[0]['product_id']}}">
            <input type="submit"  class="btn btn-success" value="Дoбавить в группу" style="width:300px; background-color: green; margin-top: 10px" onclick="return ChangeGroupButton(this);">
            </form>
      <div class="row" style="border-width: 10px; border-style: double;">
{% for i in group %}

          <div class="col-md-4">


            <div class="card mb-4 shadow-sm">
            {% if 'image' in i.keys()%}
            <p><img src={{i["image"][0]}} style="width:100px; margin-top: 10px"></p>
            {% endif %}
              <div class="card-body">
              <p class="card-text">{{i["name"][0]}}</p><br>
              {% if 'features' in i.keys()%}
              <p class="card-text">Объем - {{i["features"]["Объем"]}}</p>
              <p class="card-text">Тип - {{i["features"]["Тип"]}}</p>
              <p class="card-text">Страна - {{i["features"]["Страна"]}}</p>
            {% endif %}
              {% if 'price' in i.keys()%}
              <p class="card-text">Цена - {{i["price"][0]}}</p><br>
            {% endif %}
              {% if i['identified'] is true %}
                  <b class="card-text" style="color:green">Идентифицирован</b><br><br>
                  {% endif %}
              <p class="card-text">{{i["spider"][0]}}</p><br>

            <iframe name="myIFR" style="display: none"></iframe>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a href="{{i['link'][0]}}" target="_blank" class="btn" style="margin-left:100px; color:green">Перейти</a>

                  </div>
              </div>
            </div>
          </div>
        </div>
             {% endfor %}
      </div>
        </div>
          {% endfor %}

{% endif %}



    <div class="row" style="margin-top: 30px">
{% for i in products %}
        <div class="col-md-4">

            <button type="button" class="btn btn-danger" onclick="this.parentNode.style.display='none'" style="width:350px;">Убрать</button>

            <div class="card mb-4 shadow-sm">
            {% if 'image' in i.keys()%}
            <p><img src={{i["image"][0]}} style="width:100px; margin-left: 120px; margin-top: 10px"></p>
            {% endif %}
              <div class="card-body">
              <p class="card-text">{{i["name"][0]}}</p><br>
              {% if 'features' in i.keys()%}
              <p class="card-text">Объем - {{i["features"]["Объем"]}}</p>
              <p class="card-text">Тип - {{i["features"]["Тип"]}}</p>
              <p class="card-text">Страна - {{i["features"]["Страна"]}}</p>
            {% endif %}
              {% if 'price' in i.keys()%}
              <p class="card-text">Цена - {{i["price"][0]}}</p><br>
            {% endif %}
              {% if i['identified'] is true %}
                  <b class="card-text" style="color:green">Идентифицирован</b><br><br>
                  {% endif %}
              <p class="card-text">{{i["spider"][0]}}</p><br>

            <iframe name="myIFR" style="display: none"></iframe>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                <form target="myIFR" enctype="application/json" method="POST">
                  <input type="hidden" name="index" value="{{i['link'][0]}}">
                  <input type="submit" name="Yes" class="btn btn-success" value="Дoбавить" style="width: 150px; background-color: green" onclick="return ChangeBgColor(this);">

                </form>
                      <a href="{{i['link'][0]}}" target="_blank" class="btn" style="margin-left:40px; color: green">Перейти</a>
 </body>
</html>


                  </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
    </div>

<script>

                function ChangeGroupButton(Element) {
        if(Element.style.backgroundColor === 'green'){
            Element.style.backgroundColor = 'orange';
            Element.value = 'Отменить';
<!--            Element.innerHTML = 'Отменить';-->
            return true;
            }
        else{
             Element.style.backgroundColor = 'green';
             Element.value = 'Добавить в группу';
<!--             Element.innerHTML = 'Добавить в группу';-->
            return true;
            }
        }

        function ChangeBgColor(Element) {
        if(Element.style.backgroundColor === 'green'){
            Element.style.backgroundColor = 'orange';
            Element.value = 'Отменить';
<!--            Element.innerHTML = 'Отменить';-->
            return true;
            }
        else{
             Element.style.backgroundColor = 'green';
             Element.value = 'Добавить';
<!--             Element.innerHTML = 'Добавить';-->
            }
        }
    </script>

<style>
   .conta {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
   .main_drink {
    width: 1100px; /* Ширина элемента в пикселах */
<!--    padding: 10px; /* Поля вокруг текста */-->
    margin: auto; /* Выравниваем по центру */
   }
  </style>

{% endblock %}

