<div class="container" align="center" style="margin-top: 300px">
<h1 style="color:green;">Напиток успешно идентифицирован</h1>
<a type="submit" class="c" href="/grouping_whiskey">Продолжить</a>
</div>

<style>
   .c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #fff; /* Цвет текста */
    background-color: #28a745
  }
   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #28a745;
   }
  </style>
